*{
    box-sizing: border-box;
    border: 1px solid red;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
    margin: 0 10vw;
}

main{
    display: flex;
}

aside{
    width: 30%;
}

aside ul{
    list-style: none;
}

aside ul li{
    margin: 10px 0;
}

aside ul li a{
    text-decoration: none;
    color: black;
}

aside ul li i{
    margin-right: 10px;
    width: 20px;
}

section{
    width: 70%;
}

.contacto{
    display: flex;
    justify-content: space-between;
    align-items: center;
}